In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.to_csv("../data/raw/data.csv", index=False)

In [5]:
dictonary = pd.DataFrame([
        
    {
        "variable": "total_bill",
        "description": "total da conta",
        "type": "quantitativo",
        "subtype": "contínuo"
    },
    
    {
        "variable": "tip",
        "description": "valor da gorjeta",
        "type": "quantitativo",
        "subtype": "contínuo"
    },
    
    {
        "variable": "sex",
        "description": "sexo do pagador",
        "type": "qualitativo",
        "subtype": "nominal"
    },
    
    {
        "variable": "smoker",
        "description": "há fumantes ?",
        "type": "qualitativo",
        "subtype": "nominal"
    },
    
    {
        "variable": "day",
        "description": "dia da semana",
        "type": "qualitativo",
        "subtype": "ordinal"
    },
    
    {
        "variable": "time",
        "description": "horário do dia",
        "type": "qualitativo",
        "subtype": "nominal"
    },
    
    {
        "variable": "size",
        "description": "tamanho do grupo",
        "type": "quantitativo",
        "subtype": "discreto"
    }
    
])
dictonary

     variable       description          type   subtype
0  total_bill    total da conta  quantitativo  contínuo
1         tip  valor da gorjeta  quantitativo  contínuo
2         sex   sexo do pagador   qualitativo   nominal
3      smoker     há fumantes ?   qualitativo   nominal
4         day     dia da semana   qualitativo   ordinal
5        time    horário do dia   qualitativo   nominal
6        size  tamanho do grupo  quantitativo  discreto

In [6]:
dictonary.to_csv("../data/external/dictonary.csv", index=False)

In [ ]:
##